* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  scroll-behavior: smooth;
  transition: 0.3s ease all;
}

/* width */
::-webkit-scrollbar {
  width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

main {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  box-sizing: border-box;
  display: flex;
}

#left {
  background-color: rgb(51, 51, 51);
  overflow-x: hidden;
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 340px;
  position: relative;
}
#left h3 {
  background-color: rgb(0, 119, 255);
  position: absolute;
  top: 0;
  width: 100%;
  text-align: center;
  padding: 15px 0;
  font-family: arial;
  color: #fff;
  font-size: 17px;
  display: flex;
  align-items: center;
  justify-content: center;
}
#left h3 span {
  color: rgb(123, 255, 0);
}
#left h3 img {
  margin-right: 10px;
  margin-bottom: 10px;
}
#left ul {
  list-style: none;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
}
#left ul a {
  display: flex;
  width: 80%;
  font-family: Arial, Helvetica, sans-serif;
  text-align: left;
  font-size: 16px;
  margin: 5px;
  padding: 5px 15px;
  height: 50px;
  align-items: center;
  border-radius: 7px;
  color: #fff;
  cursor: pointer;
  transition: 0.2s ease all;
}
#left ul a span {
  padding-right: 15px;
  font-size: 17px;
}
#left ul a:hover {
  background-color: rgb(255, 255, 255);
  color: rgb(44, 44, 44);
}

#right {
  background-color: rgb(245, 245, 245);
  width: 100%;
  overflow: scroll;
  overflow-x: hidden;
  padding: 10px;
  font-family: Arial, Helvetica, sans-serif;
}
#right .dashboard {
  width: 100%;
  height: 100vh;
  font-family: Arial, Helvetica, sans-serif;
}
#right .dashboard h1 {
  color: rgb(37, 37, 37);
  padding-top: 10px;
}
#right .dashboard .statusCard {
  display: grid;
  justify-content: space-around;
  align-items: center;
  grid-template-columns: auto auto;
  margin-top: 40px;
}
#right .dashboard .statusCard .card {
  background-color: rgb(22, 22, 22);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 30vw;
  height: 200px;
  margin-bottom: 20px;
  border-radius: 10px;
  cursor: pointer;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
#right .dashboard .statusCard .card p {
  font-size: 17px;
  color: #fff;
}
#right .dashboard .statusCard .card h1 {
  font-size: 60px;
  color: #fff;
  font-weight: 400;
}
#right .dashboard .statusCard .card:hover {
  background-color: rgb(218, 88, 29);
}
#right .customer-management, #right .worker-management, #right .equipment-management, #right .approved {
  height: 100vh;
  width: 100%;
}
#right .customer-management h1, #right .worker-management h1, #right .equipment-management h1, #right .approved h1 {
  color: rgb(37, 37, 37);
  padding-top: 20px;
  padding-bottom: 40px;
}
#right .customer-management .search, #right .worker-management .search, #right .equipment-management .search, #right .approved .search {
  display: flex;
  align-items: center;
  font-weight: 600;
  color: rgb(49, 49, 49);
  margin-bottom: 10px;
}
#right .customer-management .search p, #right .worker-management .search p, #right .equipment-management .search p, #right .approved .search p {
  margin-right: 10px;
  font-size: 20px;
  color: rgb(37, 37, 37);
}
#right .customer-management .search input, #right .worker-management .search input, #right .equipment-management .search input, #right .approved .search input {
  padding: 10px 5px;
  border: none;
  background-color: rgb(197, 197, 197);
  border-radius: 5px;
  font-size: 15px;
  color: rgb(37, 37, 37);
  font-weight: 700;
}
#right .customer-management .search select, #right .worker-management .search select, #right .equipment-management .search select, #right .approved .search select {
  background-color: #fff;
  border-radius: 7px;
  padding: 5px;
}
#right .customer-management .search button, #right .worker-management .search button, #right .equipment-management .search button, #right .approved .search button {
  padding: 10px 7px;
  border: none;
  background-color: rgb(224, 77, 9);
  border-radius: 0 5px 5px 0;
  font-size: 15px;
  color: rgb(255, 254, 254);
  font-weight: 700;
  transition: 0.3s ease all;
}
#right .customer-management .search button:hover, #right .worker-management .search button:hover, #right .equipment-management .search button:hover, #right .approved .search button:hover {
  background-color: rgb(26, 223, 75);
  color: rgb(255, 255, 255);
}
#right .customer-management .table, #right .worker-management .table, #right .equipment-management .table, #right .approved .table {
  width: 100%;
  display: flex;
  justify-content: center;
  max-height: 60%;
  overflow-y: scroll;
  border: 2px rgb(209, 209, 209) solid;
}
#right .customer-management .table table, #right .worker-management .table table, #right .equipment-management .table table, #right .approved .table table {
  width: 100%;
  position: relative;
}
#right .customer-management .table table tr:nth-child(even), #right .worker-management .table table tr:nth-child(even), #right .equipment-management .table table tr:nth-child(even), #right .approved .table table tr:nth-child(even) {
  background-color: #dddddd;
}
#right .customer-management .table table tr th, #right .worker-management .table table tr th, #right .equipment-management .table table tr th, #right .approved .table table tr th {
  background: rgb(65, 3, 236);
  padding: 10px;
  margin-bottom: 5px;
  color: #fff;
}
#right .customer-management .table table tr td, #right .worker-management .table table tr td, #right .equipment-management .table table tr td, #right .approved .table table tr td {
  padding: 10px;
  text-align: center;
}
#right .customer-management .table table tr td button, #right .worker-management .table table tr td button, #right .equipment-management .table table tr td button, #right .approved .table table tr td button {
  background-color: rgb(0, 0, 0);
  padding: 6px;
  border-radius: 4px;
  border: none;
  transition: 0.3s ease all;
  color: #fff;
  margin: auto 5px;
  cursor: pointer;
}
#right .customer-management .table table tr td button:hover, #right .worker-management .table table tr td button:hover, #right .equipment-management .table table tr td button:hover, #right .approved .table table tr td button:hover {
  color: rgb(255, 255, 255);
  background-color: rgb(230, 102, 18);
}
#right .customer-management .table::-webkit-scrollbar, #right .worker-management .table::-webkit-scrollbar, #right .equipment-management .table::-webkit-scrollbar, #right .approved .table::-webkit-scrollbar {
  display: none;
}

#alert {
  position: absolute;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.87);
  top: 0;
  height: 100vh;
  display: none;
  justify-content: center;
  align-items: center;
}
#alert .card::-webkit-scrollbar {
  display: none;
}
#alert .card {
  background-color: #fff;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  min-width: 350px;
  max-height: 80%;
  overflow-x: hidden;
  overflow-y: hidden;
  padding: 10px;
  position: relative;
  border-radius: 7px;
  box-sizing: content-box;
  padding-bottom: 40px;
}
#alert .card .close {
  display: flex;
  justify-content: flex-end;
  margin-bottom: 5px;
}
#alert .card .close i {
  font-size: 25px;
  padding-top: 5px;
  padding-right: 5px;
  color: rgb(255, 55, 55);
  cursor: pointer;
}
#alert .card .close i:hover {
  color: red;
}
#alert .card .title {
  text-align: center;
  padding: 10px;
  padding-top: 0;
}
#alert .card .title h1 {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 500;
  color: rgb(37, 37, 37);
}
#alert .card .detail {
  padding: 5px;
  max-height: 400px;
  overflow-y: scroll;
}
#alert .card .detail table {
  width: 100%;
  font-family: Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  border: 1px rgb(207, 206, 206) solid;
  border-radius: 5px;
}
#alert .card .detail table tr:nth-child(even) {
  background-color: #dddddd;
}
#alert .card .detail table tr td {
  padding: 15px 30px;
  font-size: 17px;
  font-weight: 500;
  color: rgb(20, 20, 20);
  text-align: left;
}
#alert .card .detail table tr .firstTD {
  border-right: 1px rgb(207, 206, 206) solid;
}/*# sourceMappingURL=style.css.map */