*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    scroll-behavior: smooth;
    transition: 0.3s ease all;
}

/* width */
::-webkit-scrollbar {
    width: 5px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #f1f1f1; 
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #888; 
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #555; 
  }

// body::-webkit-scrollbar {
//     display: none;
// }

main{
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    box-sizing: border-box;
    display: flex;
}

#left{
    background-color:rgb(51, 51, 51);;
    overflow-x: hidden;
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 340px;
    position: relative;

    h3{
        background-color: rgb(0, 119, 255);
        position: absolute;
        top: 0;
        width: 100%;
        text-align: center;
        padding: 15px 0;
        font-family: arial;
        color: #fff;
        font-size: 17px;
        display: flex;
        align-items: center;
        justify-content: center;

        span{
            color: rgb(123, 255, 0);
        }

        img{
            margin-right: 10px;
            margin-bottom: 10px;
        }
    }


    ul{
        list-style: none;
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        box-sizing: border-box;

        a{
            display: flex;
            width: 80%;
            font-family: Arial, Helvetica, sans-serif;
            text-align: left;
            font-size: 16px;
            margin: 5px;
            padding: 5px 15px;
            height: 50px;
            // justify-content: center;
            align-items: center;
            border-radius: 7px;
            color: #fff;
            cursor: pointer;
            transition: 0.2s ease all;
            // font-weight: bold;

            span{
                padding-right: 15px;
                font-size: 17px;
            }
        }

        a:hover{
            background-color: rgb(255, 255, 255);
            color: rgb(44, 44, 44);
        }
    }
    
}

#right{
    background-color: rgb(245, 245, 245);
    width: 100%;
    overflow: scroll;
    overflow-x: hidden;
    padding: 10px;
    font-family: Arial, Helvetica, sans-serif;

    .dashboard{
        // background-color: aquamarine;
        width: 100%;
        height: 100vh;

        font-family: Arial, Helvetica, sans-serif;

        h1{
            color: rgb(37, 37, 37);
            padding-top: 10px;
        }

        .statusCard{
            display: grid;
            justify-content: space-around;
            align-items: center;
            // justify-content: space-around;
            grid-template-columns: auto auto;
            margin-top: 40px;

            .card{
                background-color: rgb(22, 22, 22);
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                width: 30vw;
                height: 200px;
                margin-bottom: 20px;
                border-radius: 10px;
                cursor: pointer;
                box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
                

                p{
                    font-size: 17px;
                    color: #fff;
                    // padding-top: 20px;

                }

                h1{
                    font-size: 60px;
                    color: #fff;
                    font-weight: 400;
                    

                }
            }
            .card:hover{
                background-color: rgb(218, 88, 29);
                // background-color: rgb(22, 22, 231);
                
            }
        }
    }

   .customer-management, .worker-management, .equipment-management, .approved{
    height: 100vh;
    width: 100%;

    h1{
        color: rgb(37, 37, 37);
        padding-top: 20px;
        padding-bottom: 40px;
    }

    .search{
        display: flex;
        align-items: center;
        font-weight: 600;
        color: rgb(49, 49, 49);
        margin-bottom: 10px;

        p{
            margin-right: 10px;
            font-size: 20px;
            color: rgb(37, 37, 37);
        }
        input{
            padding: 10px 5px;
            border: none;
            background-color: rgb(197, 197, 197);
            border-radius: 5px;
            font-size: 15px;
            color: rgb(37, 37, 37);
            font-weight: 700;
        }
        select{
            background-color: #fff;
            border-radius: 7px;
            padding: 5px;
        }
        button{
            padding: 10px 7px;
            border: none;
            background-color: rgb(224, 77, 9);
            border-radius: 0 5px 5px 0;
            font-size: 15px;
            color: rgb(255, 254, 254);
            font-weight: 700;
            transition: 0.3s ease all;
        }
        button:hover{
            background-color: rgb(26, 223, 75);
            color: rgb(255, 255, 255);
        }
    }

    .table{
        width: 100%;
        display: flex;
        justify-content: center;
        max-height: 60%;
        overflow-y: scroll;
        border: 2px rgb(209, 209, 209) solid;


        table{

            width: 100%;
            position: relative;
            

            tr:nth-child(even) {
                background-color: #dddddd;
            }

            tr{
                th{
                    background: rgb(65, 3, 236);
                    padding: 10px;
                    margin-bottom: 5px;
                    color: #fff;
                }

                td{
                    padding: 10px;
                    text-align: center;

                    button{
                        background-color: rgb(0, 0, 0);
                        padding: 6px;
                        border-radius: 4px;
                        border: none;
                        transition: 0.3s ease all;
                        color: #fff;
                        margin: auto 5px;
                        cursor: pointer;
                    }
                    button:hover{
                        color: rgb(255, 255, 255);
                        background-color: rgb(230, 102, 18);
                    }
                }
            }


        }
    }
    .table::-webkit-scrollbar {
        display: none;
      }
   } 
    
}

// Alert Common Style
#alert{
    position: absolute;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.87);
    top: 0;
    height: 100vh;
    display: none;
    justify-content: center;
    align-items: center;

    .card::-webkit-scrollbar {
        display: none;
      }
   

    .card{
        // width: 300px;
        background-color: #fff;
        width: fit-content;
        height: fit-content;
        min-width: 350px;
        max-height: 80%;
        overflow-x: hidden;
        overflow-y: hidden;
        padding: 10px;
        position: relative;
        border-radius: 7px;
        box-sizing: content-box;
        padding-bottom: 40px;

        .close{
            // background-color: #555;
            display: flex;
            justify-content: flex-end;
            margin-bottom: 5px;
            i{
                // float: right;

                font-size: 25px;
                padding-top: 5px;
                padding-right: 5px;
                color: rgb(255, 55, 55);
                cursor: pointer;
            }
            i:hover{
                color: red;
            }
        }

        .title{
            text-align: center;
            padding: 10px;
            padding-top: 0;

            h1{
                font-family: Arial, Helvetica, sans-serif;
                font-weight: 500;
                color: rgb(37, 37, 37);
            }
        }
        
        .detail{
            // background-color: blue;
            padding: 5px;
            max-height: 400px;
            overflow-y: scroll;

            table{
                width: 100%;
                font-family: Arial, Helvetica, sans-serif;
                border-collapse: collapse;
                border: 1px rgb(207, 206, 206) solid;
                border-radius: 5px;

                tr:nth-child(even) {
                    background-color: #dddddd;
                }

                tr{
                    td{
                        padding: 15px 30px;
                        font-size: 17px;
                        font-weight: 500;
                        color: rgb(20, 20, 20);
                        text-align: left;
                    }

                    .firstTD{
                        border-right: 1px rgb(207, 206, 206) solid;
                    }
                }
                


            }
        }
    }
}